{% extends "base.html" %}
{% block content %}

{% if errors %} 
        <ul> 
            {% for error in errors %} 
            <li style="color: red;">{{ error }}</li> 
            {% endfor %} 
        </ul> 
{% endif %}

<div class="container">

    <form method="GET" action="/buscar/autor/" align="right" class="form-search form-inline">
        <div class="input-append">
            <input type="text" class="search-query" placeholder="Search..."  name="q" id="q" />
            <button type="submit" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search">
            Search
            </span>
            </button>
        </div>
    
    </form>

     <div class="new">
        <a href="/register/"><button type="button" class="btn btn-primary" ><b>+</b>&nbsp;&nbsp;New</button></a>
    </div>
    



<!-- boton de busqueda -->





<br>

<div class="table-responsive" >

	<table class="table table-striped">
	{% if autors %}
	
	<thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
	
    	  <tr>
	      {% for autor in autors %}
	      	<td>{{ autor.id }}</td>
    	    <td>{{ autor.nombre }}</td>
    	    <td>{{ autor.apellidos }}</td>
    	    <td>{{ autor.email }}</td>
    	    <td><a href='/delete/autor/{{autor.id}}'><button type="button" class="btn btn-success">Delete</button></a></td>
            <td><a href='/update/autor/{{autor.id}}'><button type="button" class="btn btn-info">Update</button></a></td>
    	    </tr>
	      {% endfor %}
    	  
		    {% else %}
	      <p>No books found</p>
	{% endif %}
	</table>

	</div>
</div>
{% endblock %}