{% extends "base.html" %}

{% block title %}
Registrar
{% endblock %}

{% block formulario %}

   <div class="container">

      <form class="form-signin1" action="/register_autor/" method="POST">{% csrf_token %}
        <h2 class="form-signin-heading1"> <img src="/static/img/tux_gandal.png"  WIDTH=70 HEIGHT=72>     Create Author </h2>
        <label for="nombre" >Nombre :       </label>
        
        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Introduzca Nombre" required autofocus>
        <label for="apellidos" >Apellido : </label>
        <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Introduzca Apellido" required autofocus>
        
        <label for="email" >Email : </label>
        <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button><br>



               
      </form>

    </div> <!-- /container -->

        </form>

{% endblock %}
